<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/maui.jpg' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
        .bg {
            background-image: url("{% static 'img/background.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            background-attachment: fixed;
        }
</style>
<body id="bg" style="background-color: whitesmoke; padding: 3%;">
    <div class="wrapper" style="margin-left: auto; margin-right: auto;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/home">Maui Movie Central</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/newMovie">Add a Movie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: black">Welcome, {{loggedinuser.username}}!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron" style="margin-top: 5%;">
            <h1 class="display-4" style="text-align: center;">Adam Brady</h1>
            <p class="lead" style="text-align: center;">aob725@gmail.com</p>
            <p class="lead" style="text-align: center;">https://github.com/aob725</p>
            <p class="lead" style="text-align: center;">(708) 606-7880</p>
            <br>
            <p class="lead" style="text-align: center;">Please see my full portfolio below!</p>
            <hr class="my-4">
            <p class="lead" style="display: flex; align-items: center; justify-content: center; margin-top: 2%">
                <a class="btn btn-primary btn-lg" href="#" role="button">Full Portfolio</a>
            </p>
        </div>
    </div>
</body>
</html>