<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/maui.jpg' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="login-reg-box">
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red">{{message}}</p>
                {% endfor %}
            {% endif %}
            <fieldset>
                <legend>Login</legend>
                <form action="/login" method="post">
                    {% csrf_token %}
                    <div class="loginUsername">
                        <label><strong>Username:</strong></label>
                        <input type="text" name="username" class="tInput">
                    </div>
                    <input type="submit" value="Login!" class="loginRegButton">
                </form>
            </fieldset>
            <fieldset>
                <legend>Register</legend>
                <form action="/register" method="post">
                    {% csrf_token %}
                    <div class="regName">
                        <label><strong>Name:</strong></label>
                        <input type="text" name="name" class="tInput">
                    </div>
                    <div class="regUsername">
                        <label><strong>Username:</strong></label>
                        <input type="text" name="username" class="tInput">
                    </div>
                    <input type="submit" value="Register!" class="loginRegButton">
                </form>
            </fieldset>
        </div>
        
    </div>
</body>
</html>