<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/maui.jpg' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/home">Maui Movie Central</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/newMovie">Add a Movie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: black">Welcome, {{loggedinuser.username}}!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="newMovieForm">
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red">{{message}}</p>
                {% endfor %}
            {% endif %}
            <legend>Add a Movie</legend>
            <form action="/createMovie" method="POST" id="newForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="releaseDate">Release Year</label>
                    <input id="release_date_input" name="releaseDate" class="form-control">
                </div>
                <input type="submit" value="Add Movie!" class="btn-primary">
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
                $("#release_date_input").hover("input", function () {
                    $('#result').text();
                });
            });
    </script>
</body>
</html>